figcaption {
    font: smaller sans-serif;
    text-align: center;
}

.div-left {
    float: left;
    padding-right: 5px;
    clear: both;
    position: relative;
    max-width: 100%;
}
.div-right {
    float: right;
    padding-left: 5px;
    clear: both;
    position: relative;
    max-width: 100%;
}
.div-center {
    display: flex;
    justify-content: center;
}

table.image-table {
    border: none;
    vertical-align: top;
}

table.image-table * {
    border: none;
    vertical-align: top;
}
